html body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: url('http://res.cloudinary.com/busayyyo/image/upload/v1516307216/drum_bg_ffbyfq.jpg') 0% 0%/ cover no-repeat;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 170px;
}

kbd {
  font-size: 1.7em;
}

.key {
  width: 80px;
  height: 60px;
  border: 1px solid #fff;
  background: #8DBDCB;
  text-align: center;
  transition: all 0.09s;
  margin-right: 20px;
  color: #fff;
}

.playing {
  transform:scale(1.2);
  border: 1px solid #fff;
  box-shadow: 3px 5px 10px #fff;
}
